@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4 texto text-center">Encontre um Destino que Combine com você!</h1>
    <p class="text-center">AREA QUE VAI SER DESTINADA AOS ANUNCIOS E PROPAGANDAS.</p>
    <div class="d-flex justify-content-around text-center">
        <div class="card ml-auto" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary text-center">Reservar</a>
            </div>
       </div>
       
       <div class="card ml-auto" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary text-center">Reservar</a>
            </div>
       </div><div class="card ml-auto" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary text-center">Reservar</a>
            </div>
       </div>
       </div>
   </div>
</div>

